@import './_base';

.header-section{
    background-color: transparent; //#151515;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea4c;

    .col-lg-4{
        display: flex;
        align-items: center;
    }

    .header-logo{
        .title{
            font-size: 2rem;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 300;
            margin-bottom: 0px;
            span{
                color: $amarillo;
                font-weight: 800;
            }
        }
    }

    .header-menu {

        ul {
            list-style-type: none;
            padding-left: 0px;
            margin-bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            li a{
                padding: 5px;
                margin: 0 15px;
                color: #d9d9d9;
                font-size: 16px;
            }
        }
    }

    .card-user{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        .avatar{
            width: 25px;
            height: 25px;
            border: 2px solid white;
            border-radius: 100px;
            background-color: $amarillo;
            margin-left: 15px;
        }
        .avatar-name{
            margin-bottom: 0px;
            font-size: 14px;
            font-weight: 800;
            color: white;
        }
    }
}